.env
.venv/

__pycache__/
*.pyc
*.pyo
*.log
*.duckdb
*.sqlite
*.sqlite3
.DS_Store

Translate eBooks (EPUBs) with Python and OpenAI/0 Originals/
Translate eBooks (EPUBs) with Python and OpenAI/1 Translations/